body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(248, 244, 239);
}
h1 {
    text-align: center;
    align-items: center;
    margin-top: 30px;
    color: aliceblue;
    font-size: 50px;
    font-style: italic;
}
nav {
    display: flex;
    width: 100%;
    margin-top: -20px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-bottom: 1px solid black;
    justify-content:center;
    gap: 70px;
    color: aliceblue;
    font-size: 24px;
    font-style: italic;
}
.dina {
    background-color: rgb(95,106, 220);
    width: 100%;
    
}
nav a:hover {
    background-color: rgb(125, 120, 120);
    border-radius: 5px;
}
nav, a {
    padding: 10px;
}
.nyx{
     text-decoration: none;
}

.box1 {
    margin-top: 400px;
}