body {
  padding: 200px;
}

img {
  width: 100%;
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-row: 150px 150px 150px;
  column-gap: 10px;
  row-gap: 20px;
}

.container1 {
}

.container2 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.container3 {
  grid-column-start: 5;
}

.container4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.container5 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.container6 {
}

.container7 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.container8 {
  grid-column-start: 4;
  grid-column-end: 6;
}

/* .text-box {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  text-align: center;
  background-color: rgb(218, 185, 185);
  transition: all 0.5s;
  height: 20px;
  overflow: hidden;
} */

.description {
  visibility: hidden;
}
.container1:hover .text-box {
  height: 50%;
}
.container1:hover .description {
  visibility: visible;
}