body {
    background-color: #c9d6ff;
    padding: 0;
    margin: 20px 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}

.box1 {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

a {
    text-decoration: none;
}

.navigations {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 8px;
}
nav a:hover {
    background-color: rgb(#c9d6ff);
    border-radius: 1px;
}
/* Main */
/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */
button {
    background-color:rgb(242, 227, 242);
}
button:hover {
    background-color: rgb(19, 225, 204);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
    margin-top: 100px;
}
.wrapper div {
    background-color: rgb(240, 244, 244);
    display: flex;
    align-items: center;
    width:260px;
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 20px;
}

h6 {
    font-size: 20px;
}