/* .robot-3d {
    /* position: absolute; */
    display: flex;
    margin-left: 200px;
    background-color: black;
    width: 100%;
    height: 100vh;
   
   
}
.robot {
    background-color: black;
} */